{% extends "base.html" %} {% block title %}finishQuestions{% endblock %} {% block content
    %}
    <script src="/website/static/quiz.JS"></script>
    <link rel="stylesheet" type="text/css" href="/website/static/quiz.CSS">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
  
 <div>
  <h2 class="d-flex justify-content-center"><u>Congratulations</u></h2>
 </div>   
<div class="container-fluid bg-info">
    <form method="POST" action = '#'>
        <div class="modal-dialog">
            <div class="modal-content">
                <p>You've finished all the questions</p>
                <p>Total score:{{user.score}}</p>
                
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary" >Back to kid Page</button>
    </form>
</div>  
{% endblock %}
