
{% extends "base.html" %} {% block title %}kidPage{% endblock %} {% block content
    %}
<!-- costum of page kide - Preparation of tickets for the quiz. -->

<div class="d-flex justify-content-center">
    <button onclick="biggerText()" type="button" class="btn btn-info" style="border-color: black;">T+</button>
    <button onclick="lowerText()" type="button" class="btn btn-info" style="border-color: black;">T-</button>
</div>
<div>
    <h2 id="textView" class="d-flex justify-content-center"><u>Catalog of quizs</u></h2>
</div>

<script>
    function biggerText(){
        var x = document.getElementById("textView");
        x.style.fontSize =  50 + 'px';
    }
    function lowerText(){
        var x = document.getElementById("textView");
        x.style.fontSize = 30 + 'px';
    }
</script>

<form method="POST">
    <article>
        <section class="row bg-secondary">
            {%for us in user%}
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src={{us.picture}} class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> {{us.cat}}</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}



            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/nature.jpg" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Nature</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/nature.jpg" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Nature</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/Animals.webp" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Animal</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/nature.jpg" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Nature</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/Animals.webp" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Animal</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</form>
{% endblock %}