
{% extends "base.html" %} {% block title %}kidPage{% endblock %} {% block content
    %}
<!-- costum of page kide - Preparation of tickets for the quiz. -->

<div>
    <button onclick="biggerText()">T+</button>
    <button onclick="lowerText()">T-</button>
</div>
<div>
    <p id="textView">Here is some text!</p>
</div>

<script>
    function biggerText(){
        var x = document.getElementById("textView");
        x.style.fontSize =  30 + 'px';
    }
    function lowerText(){
        var x = document.getElementById("textView");
        x.style.fontSize = 15 + 'px';
    }
</script>

<form method="POST">
    <article>
        <section class="row bg-secondary">
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/Animals.webp" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Animal</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/nature.jpg" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Nature</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/nature.jpg" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Nature</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/Animals.webp" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Animal</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/nature.jpg" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Nature</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/pictures/Animals.webp" class="card-img-top" alt="...">
                    <div class="card-body"> 
                        <h3 class="card-title"><u>Category:</u> Animal</h3>
                        <div class="d-flex justify-content-center">
                            <input type="submit" name="submit_button" class="btn btn-danger" value="Start a quiz!">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</form>
{% endblock %}