{% extends "base.html" %} {% block title %}question{% endblock %} {% block content
    %}
    <script src="/website/static/quiz.JS"></script>
    <link rel="stylesheet" type="text/css" href="/website/static/quiz.CSS">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
      .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
      }
      
      .button1:hover {
        background-color: #4CAF50;
        color: white;
      }
      
      .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
      }
      
      .button2:hover {
        background-color: #008CBA;
        color: white;
      }
      
      .button3 {
        background-color: white; 
        color: black; 
        border: 2px solid #f44336;
      }
      
      .button3:hover {
        background-color: #f44336;
        color: white;
      }
      
      .button4 {
        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
      }
      
      .button4:hover {background-color: #e7e7e7;}
      
      .button5 {
        background-color: white;
        color: black;
        border: 2px solid #555555;
      }
      
      .button5:hover {
        background-color: #555555;
        color: white;
      }
    </style>
  <div>
    <button class="button button1">Green</button>
    <button class="button button2">Blue</button>
    <button class="button button3">Red</button>
    <button class="button button4">Gray</button>
    <button class="button button5">Black</button>
  </div>
 <div>
  <h2 class="d-flex justify-content-center"><u>Questions</u></h2>
 </div>   
<div class="container-fluid bg-info">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
              <h2><span class="label label-warning" id="qid">{{user.question}}</span></h2>
          </div>
          <div class="modal-body">
                <div class="col-xs-3 col-xs-offset-5">
                  <div id="loadbar" style="display: none;">
                      <div class="blockG" id="rotateG_01"></div>
                      <div class="blockG" id="rotateG_02"></div>
                      <div class="blockG" id="rotateG_03"></div>
                      <div class="blockG" id="rotateG_04"></div>
                      <div class="blockG" id="rotateG_05"></div>
                      <div class="blockG" id="rotateG_06"></div>
                      <div class="blockG" id="rotateG_07"></div>
                      <div class="blockG" id="rotateG_08"></div>
                  </div>
              </div>

              <div class="quiz" name="quiz" id="quiz" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="{{user.wrong3}}">{{user.wrong3}}</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="{{user.wrong2}}">{{user.wrong2}}</label>
                <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="{{user.wrong1}}">{{user.wrong1}}</label>
                <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="{{user.correct}}">{{user.correct}}</label>
              </div>
          </div>
          <div style="background-color: rgb(218, 204, 199);">
            <h3><u>Score:</u></h3>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Next question</button>
          </div>
          </div>
          <div class="modal-footer text-muted">
            <span id="answer"><button type="button" class="btn btn-secondary">Finish game</button></span>
          </div>
        </form>
      </div>
  </div>
</div>
    <!-- <h1 align="center">Questions</h1>
    <label for="cars">{{user.question}}:</label>

    <select name="cars" id="cars">
      <option value="volvo">{{user.correct}}</option>
      <option value="saab">{{user.wrong1}}</option>
      <option value="mercedes">{{user.wrong2}}</option>
      <option value="audi">{{user.wrong3}}</option>
    </select> 
    <input type="submit" name="submit_button" class="btn btn-danger" value="Submit"> -->

    
{% endblock %}