{% extends "base.html" %} {% block title %}question{% endblock %} {% block content
    %}
    <script src="/website/static/quiz.JS"></script>
    <link rel="stylesheet" type="text/css" href="/website/static/quiz.CSS">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
  
 <div>
  <h2 class="d-flex justify-content-center"><u>Questions</u></h2>
 </div>   
<div class="container-fluid bg-info">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
              <h2><span class="label label-warning" id="qid">{{question.question}}</span></h2>
          </div>
          <div class="modal-body">
                <div class="col-xs-3 col-xs-offset-5">
                  <div id="loadbar" style="display: none;">
                      <div class="blockG" id="rotateG_01"></div>
                      <div class="blockG" id="rotateG_02"></div>
                      <div class="blockG" id="rotateG_03"></div>
                      <div class="blockG" id="rotateG_04"></div>
                      <div class="blockG" id="rotateG_05"></div>
                      <div class="blockG" id="rotateG_06"></div>
                      <div class="blockG" id="rotateG_07"></div>
                      <div class="blockG" id="rotateG_08"></div>
                  </div>
              </div>

              <div class="quiz" name="quiz" id="quiz" data-toggle="buttons">
                <label class="element-animation1 btn btn-lg btn-primary btn-block" onclick="clickedSound()"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="{{question.wrong3}}">{{question.wrong3}}</label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block" onclick="clickedSound()"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="{{question.wrong2}}">{{question.wrong2}}</label>
                <label class="element-animation3 btn btn-lg btn-primary btn-block" onclick="clickedSound()"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="{{question.wrong1}}">{{question.wrong1}}</label>
                <label class="element-animation4 btn btn-lg btn-primary btn-block" onclick="clickedSound()"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="{{question.correct}}">{{question.correct}}</label>
              </div>
          </div>
          <div style="background-color: rgb(218, 204, 199);">
            <h3><u>Score:{{score}}</u></h3>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success" onmouseover="nextSound()" >Next question</button>
          </div>
          </div>
          <div class="modal-footer text-muted">
            <span id="answer"><button type="button" class="btn btn-secondary">Finish game</button></span>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}